<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EIBVoice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EIBVoice.Properties.Settings>
            <setting name="InitialKey" serializeAs="String">
                <value>EIBKEY</value>
            </setting>
            <setting name="NetworkName" serializeAs="String">
                <value>Voice</value>
            </setting>
            <setting name="HeartBeatInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="XMLSchemaFile" serializeAs="String">
                <value>C:\Users\Yosi\Desktop\EIBProject\EIBVoice\bin\Debug\MessagesDB.xsd</value>
            </setting>
            <setting name="RootElementName" serializeAs="String">
                <value>Messages</value>
            </setting>
            <setting name="LocalInterfaceIndex" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </EIBVoice.Properties.Settings>
    </userSettings>
</configuration>