<configuration>
    <appSettings>

	<add key='DiffTool' value='C:\Program Files\Beyond Compare 3\BCompare.exe'/>
	<add key='DiffArgs' value='{basepath} {mypath} /title1={basename} /title2={myname}'/>
	<add key='MergeTool' value='C:\Program Files\Beyond Compare 3\BCompare.exe'/>
	<add key='MergeArgs' value='{basepath} {mypath} {mergepath} /title1={theirname} /title2={myname} /title3={basename}'/>
	<add key='IgnoreFile' value='C:\Documents and Settings\Yosi\Desktop\CPC\Ignore.config'/>

    </appSettings>
</configuration>
